{% extends "govuk/template.njk" %}

{% block head %}
  <!--[if !IE 8]><!-->
    <link href="stylesheets/style.css" rel="stylesheet">
  <!--<![endif]-->
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">Address lookup</h1>
  <div class="govuk-form-group">
    <label class="govuk-label" for="subject">
      Choose an address
    </label>
    <select class="govuk-select" id="subject" name="subject">
      <option value="choose" selected>Choose address</option>
      
      {% for address in addresses %}
        <option value="{{ address.uprn }}">{{ address.address }}</option>
      {% endfor %}
    </select>
  </div>
{% endblock %}
